fundamend-box,
fundamend-center,
fundamend-cluster,
fundamend-cover,
fundamend-stack,
fundamend-switcher {
	background-color: lightgoldenrodyellow;
}

fundamend-box *,
fundamend-center *,
fundamend-cluster *,
fundamend-cover *,
fundamend-stack *,
fundamend-switcher * {
	background-color: var(--black);
	color: var(--white);
}

.testContainer {
	width: 512px;
	height: 256px;
	border: 2px dashed var(--black);
	overflow: auto;
	margin: var(--size0);
}
